# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SplitTestSuite.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\open\SplitTestSuite\.idea\.idea.SplitTestSuite.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
